@model HolidayViewModel
@{
    ViewData["TitleMD"] = "";
    Layout = "~/Areas/MasterData/Views/Shared/_MasterDataForm.cshtml";
}

@section StyleMD{
}

<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title" style="color: black">Holiday Info</h5>
        <hr>
        <div class="container">
            <form asp-area="MasterData" asp-controller="Holiday" asp-action="Index" method="post" data-parsley-validate="parsley">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row">
                    <label for="holidayName" class="col-sm-4 col-form-label">Holiday Name (English)</label>
                    <div class="col-sm-8">
                        <input type="text" data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="holidayName" id="holidayName">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="holidayNameBn" class="col-sm-4 col-form-label">Holiday Name (Bangla)</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="holidayNameBn" id="holidayNameBn">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="year" class="col-sm-4 col-form-label">Year</label>
                    <div class="col-sm-8">
                        <input type="number" data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="year" id="year">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="weeklyHoliday" class="col-sm-4 col-form-label">Date</label>
                    <div class="col-sm-8">
                        <input type="text" data-parsley-required="true" data-parsley-trigger="keyup" class="form-control" name="weeklyHoliday" id="weeklyHoliday">
                    </div>
                </div>

                <input type="submit" value="Submit" class="btn btn-success" style="float:right; margin-top:5px;">

            </form>
            <hr>
        </div>
    </div>
</div>

<br />
<hr />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Holiday Information</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped table-bordered table-responsive-lg table-responsive-sm" id="holidayTable">
                    <thead>
                        <tr>
                            <th>Holiday Name</th>
                            <th>Holiday Year</th>
                            <th>Holiday Date</th>
                            <th>Action</th>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.holidays)
                        {
                        <tr>
                            <td>@data.holidayName</td>
                            <td>@data.year</td>
                            <td>@data.weeklyHoliday</td>
                            <td>
                                <a class="btn btn-success" href="#"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger" href="#"><i class="fa fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section ScriptsMD{
    <script>
        $(document).ready(function () {
            $('#holiday').addClass("active");
            $('#weeklyHoliday').datepicker({ uiLibrary: 'bootstrap4' });
            $('#holidayTable').DataTable();
        });
    </script>
}


